body {
  background-image: linear-gradient(#7a5980, #bc7c9c);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 0px;
}

.container .signup-btn {
  font-size: 36px;
  padding-inline: 30px;
  background-color: #a96da3 !important;
  border: 2px solid #3b3b58;
  border-radius: 30px;
  margin-top: 75px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button.signup-btn:hover {
  background-image: linear-gradient(#592e83, #a96da3) !important;
  border-color: #3b3b58;
  text-decoration: none;
  outline: none;
}

button.login-btn {
  font-size: 12px;
  padding-inline: 12px;
  background-color: #7a5980 !important;
  border: 2px solid #3b3b58 !important;
  border-radius: 10px !important;
  box-sizing: border-box;
}

.login-btn:hover {
  background-image: linear-gradient(#3b3b58, #592e83) !important;
}

button.create-btn {
  font-size: 28px;
  padding-inline: 30px;
  background-color: #a96da3 !important;
  border: 2px solid #3b3b58;
  border-radius: 30px;
  box-sizing: border-box;
}

button.create-btn:hover {
  background-image: linear-gradient(#592e83, #a96da3) !important;
  border-color: #3b3b58;
  text-decoration: none;
  outline: none;
}

button.loginpage-btn:hover {
  background-image: linear-gradient(#592e83, #a96da3) !important;
  border-color: #3b3b58;
  text-decoration: none;
  outline: none;
}

button.loginpage-btn {
  font-size: 28px;
  padding-inline: 30px;
  background-color: #a96da3 !important;
  border: 2px solid #3b3b58;
  border-radius: 30px;
  box-sizing: border-box;
}

h1 {
  padding-top: 150px !important;
}

html,
body,
#root {
  height: 100%;
}
