/*----------------------------------------------------------------*/
/* GLOBAL NAV BAR STYLING */

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3b3b58;
}

.navbar {
  background-color: #3b3b58;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.nav li {
  display: inline-block;
}

.navbar-link {
  color: white;
  margin: 15px;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  position: relative;
}

.nav li:hover {
  background-color: #7a5980;
}

.nav li.active {
  background-color: #7a5980;
}

/*----------------------------------------------------------------*/
/* GLOBAL BODY AND HEADER */

body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: center;

  background-image: linear-gradient(#7a5980, #bc7c9c);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 96px;
  margin-top: 10%;
  margin-bottom: 0;
  color: #ffffff;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 3);
  text-align: center;
}
h2 {
  font-family: Helvetica, sans-serif;
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
  text-align: center;
}
h3 {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  margin-top: 0px;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3b3b58;
  color: white;
  text-align: center;
  padding: 20px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  display: inline-block;
  margin: 0 10px;
}

footer a {
  color: white;
  text-decoration: none;
}
/*----------------------------------------------------------------*/
/* Home Page - Sign Up button styling */

.signupbtn {
  background-color: #a96da3;
  border: 5px solid #3b3b58; /* Add a border around the container */
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #ffffff;
  display: center;
  cursor: pointer;
  font-size: 48px;
  font-weight: 400;
  min-width: 3;
  overflow: visible;
  padding: 20px 25px;
  text-align: center;
  transform: scale(0.6);
}

.signupbtn:hover {
  background-image: linear-gradient(#3b3b58, #7a5980);
  border-color: #3b3b58;
  text-decoration: none;
}

/*----------------------------------------------------------------*/
/* Sign Up Page  */

.signup-box {
  background-image: radial-gradient(#cf9893, #bc7c9c);
  border: 10px solid #3b3b58; /* Add a border around the container */
  border-radius: 100px; /* Add rounded corners to the container */
  max-width: 50%; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container on the page */
  margin-top: 2.5%;
  padding: 5%;
  text-align: left;
  color: white;
  font-size: 36px;
  transform: scale(0.6);
  transform-origin: center top;
}

.button-signup-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-top: 10%;
}

.signup-page-btn {
  background-color: #a96da3;
  border-radius: 30px;
  border: 5px solid #3b3b58; /* Add a border around the container */

  margin: 0 auto;
  position: relative;
  margin-bottom: -20%;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 36px;
  font-weight: 500;
  min-width: 25%;
  overflow: visible;
  padding: 5% 15%;
  text-align: center;
}

.signup-page-btn:hover {
  background-image: linear-gradient(#3b3b58, #7a5980);
  border-color: #3b3b58;
  text-decoration: none;
}
